<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{object.stud.firstname}} || {{object.stud.lastname}}

        {{object.mat_no}}

        {% if object.booking %}
            {{hall.hall_name}}
            {{block.block_name}}
            {{floor.floor_number}}
            {{room.room_number}}
            {{space.Free}}
        {% endif %}
    </div>
</body>
</html>